@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Sassy+Frass&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue: #697BEC;
    --gris: #AEAFB4 ;
    
}
body{
    font-family: 'roboto', Times, serif;
    background-color: #eaebed;
    position: relative;
}
.hide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: scale .4s ease-out;
    transform: scale(0);
}
.hide-img{
    display: flex;
    justify-content: right;
    margin: 10px;
  
}
.hide-img img{
    width: 40px;
}
.show{
    transform: scale(1);

}
.mainCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px auto;
    max-width: 900px; 
}
.card-container{
    width: 50%;
    height: 220px;
    margin: 20px auto;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.rotate{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 35%;
    transition: all .5s ease;
    animation: complete 3s infinite ease-out;
}

.card-after,
.card-before{
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
    border-radius: 10px;
    width: 90%;
    height: 100%;
}

.card-before{
    background-image: url("../Assets/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transform: rotateY(180deg);
}
.card-after{
    background-image: url("../Assets/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 0 12px;
}

.card-container.flipped .card-after{
    transform: rotateY(180deg);
}

.card-container.flipped .card-before{
    transform: rotateY(0deg);
}  


/*Body*/
.after-img{
    width: 50px;
    position: relative;
    top: 50%;
    left: 90%;
}
.body-img{
    width: 50px;
}
.body-titles{
    margin: 15px 0;
}
.body-titles h5{
    font-size:12px ;
    color: var(--gris);
    font-weight: 400;
}
.body-titles h2{
    font-size:20px ;
    color: #fff;
    font-weight: 700;

}
.body-subtitles{
    display: flex;
    justify-content: space-between;
    margin: 20px  0;
}
.body-subtitles h5{
    font-size:12px ;
    color: var(--gris);
    font-weight: 400;
}
.body-subtitles p{
    font-size:16px ;
    color: #fff;
    font-weight: 400;
}

/*CARD-BEFORE*/
.card-before-line{
    padding: 0;
    margin: 20px 0;
    background-color: black;
    width: 100%;
    height: 40px;

}
.before-firma{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: var(--gris);
    font-size: 12px;
    width: 100%;
}
.firma{
    background-color: #fff;
    width: 180px;
    height: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    border-radius: 2px;
}
.p-firma{
    font-size: 16px;
    color: var(--blue);
    text-align:  center;
}
.p-ccv{
    font-size: 14px;
    color: var(--blue);
    text-align:  center;
}
.ccv{
    background-color: #fff;
    width: 80px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
}

.before-body{
    color: #fff;
    font-size: 10px;
    margin: 20px 0;
    padding: 0 15px;
}

/*Card Datos*/
.card-formulario{
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    width: 70%;
    position: relative;
    bottom: 40px;
    padding: 0 20px;
    border-radius: 10px;
}

.formulario-title{
    text-align: center;
    margin: 30px 0;
    color: var(--blue);
}
.bloques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.bloques label{
    color: var(--gris);
    font-size: 16px;
    margin: 2px auto;
    font-weight: 300;
}
.bloques input{
    color: var(--blue);
    font-size: 16px;
    border: none;
    border: 1px solid var(--gris);
    padding: 10px 10px;
    width: 60%;
    border-radius: 5px;
    text-align: center;
}
.bloque-expira-ccv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expira{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.lbl-expira{
    color: var(--gris);
    font-size: 16px;
    font-weight: 300;
}
.select{
    padding: 10px 15px;
    margin: auto 10px;
    width: 80%;
    border: none;
    border: 1px solid var(--gris);
    font-size: 14px;
    border-radius: 5px;
}
.inpuntccv{
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
    display: block;
    border: none;
    border: 1px solid var(--gris);
    border-radius: 5px;
    color: var(--blue);
    font-size: 16px;
}

.button{
    width: 100%;
   margin: 20px auto;
}
.button button{
    width: 60%;
    padding: 10px 15px;
    display: block;
    margin: auto;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 1ms ease;

}
button:hover{
    background-color:#334AB9;

}


@keyframes complete {
   0%{
        transform: rotateY(0);
        
    }
    25%{
        transform: rotateY(0deg);
    }50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
    
}


/*Media Screen */
@media screen and (max-width:600px){
    .card-container{
        width: 75%;
    }
    .after-img{
        width: 50px;
        position: relative;
        top: 50%;
        left: 80%;
    }
    .card-formulario{
        width: 80%;
    }
    .firma{
        background-color: #fff;
        width: 130px;
        height: 25px;
        font-family: 'Dancing Script', cursive;
        font-weight: 400;
        border-radius: 2px;
    }
    .body-subtitles h5{
        font-size:12px ;
        color: var(--gris);
        font-weight: 400;
    }
    .body-subtitles p{
        font-size:14px ;
        color: #fff;
        font-weight: 400;
    }
}